<h1>Los creadores de la pagina son:</h1><br>
<div class="p">
    
<h1>Noah "El Chileno Gordito" Denenberg Korob</h1>
<center>
<img src="/img/ivi.jpeg" alt="" width="20%"><br>
</center>
</div>
<div class="p">
<h1>Yannick "Samuel" Lerner</h1><br>
<center>
<img src="/img/yano.jpeg" alt="" width="20%"><br>
</center>
</div>
<div class="p">
<h1>Ivan "El Carnicero" Frankowski</h1><br>
<center>
<img src="/img/noah.jpeg" alt="" width="20%"><br>
</center>
</div>

<style>
    img{
        border-radius: 5px;
        justify-content: center;
    }

    .p{
        float: left;
        margin: 2px;
        padding-left: 2px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    h1{
        text-align: center;
    }
</style>